.slick-slide {
  height: 100%;
  padding: 0 4px;
}

.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
}
.slick-slide > div {
  height: 100%;
}

.slick-arrow{
  color: gray;
  transition: 0.3s;
}
.slick-arrow:hover{
  color: black;
}